# Android Studio / IntelliJ
*.iml
.idea/

# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# NDK / CMake
.externalNativeBuild/
.cxx/

# Generated captures
captures/

# OS files
.DS_Store
Thumbs.db

# =============================================
# Login Hivemq
# =============================================
firmware/hs_hardware_backend/include/secrets.h
**/.env
**/.env.local

# =============================================
# PlatformIO build artifacts
# =============================================
firmware/**/.pio/
.pio/
